<t4ss-data-table [dataSet]=business
                 [listener]=component
                 [enableFilter]="true"
                 [enablePagination]="true"
                 [actualPage]=actualPage
                 [totalItems]=totalItems
                 [dataPerPage]=dataPerPage>
  <datatable-column [value]="'business_id'" [header]="'Business ID'"></datatable-column>
  <datatable-column [value]="'business_name'" [header]="'Business Name'"></datatable-column>
  <datatable-column [value]="'business_id_number'" [header]="'Business ID number'"></datatable-column>
</t4ss-data-table>


