<h1>Aqui va el Business component</h1>

<div class="container">
  <div class="row">
    <div>
      <input  placeholder="Search here..." type="text" id="inputName" [(ngModel)]="name"/>
      <!--   on-enter-blur on-blur-change="filterResult()" -->
      <!--  ng-model="businessCtrl.filterCriteria.ReaxiumParameters.filter" -->

    </div>
    <!-- tables row -->
    <div class="tim-row" id="tables-row">
      <h2>Tablas</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Business Name</th>
            <th>Business DNI</th>
            <th>Business Type</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of business | businessNameFilter:name;let i = index">
            <td>{{item.name}}</td>
            <td>{{item.dni}}</td>
            <td>{{item.type}}</td>
            <!--<td><a href="" ng-click="showInformationModal(business.business_id)">Information</a>-->
            <!--</td>-->
            <!--</td>-->
            <!--<td>-->
            <!--<span class="label label-success"ng-show="business.status.status_id == 1">{{business.status.status_name | lowerCase | capitalize}}</span>-->
            <!--<span class="label label-warning"ng-show="business.status.status_id == 2">{{business.status.status_name | lowerCase | capitalize}}</span>-->
            <!--</td>-->
            <td class="td-actions text-right">
              <button type="button" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                <i class="fa fa-user"></i>
              </button>
              <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

