<div>
  <p-growl [value]="msgs2" [life]="3000"></p-growl>
  <button class="btn btn-" style="margin: -5px 400px" [routerLink]="['newDevice']">+</button>
</div>
<t4ss-data-table [dataSet]=devices
                 [listener]=component
                 [enableFilter]="true"
                 [enablePagination]="true"
                 [actualPage]=actualPage
                 [totalItems]=totalItems
                 [dataPerPage]=dataPerPage>
  <datatable-column [dataColumn]=true [value]="'device_id'" [header]="'ID'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'device_serial'" [header]="'Device Serial'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'bus_info'" [header]="'Bus Number'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'device_name'" [header]="'Device Name'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'last_status_update'" [header]="'Last Connection'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'temperatura'" [header]="'Temp.(F)'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'is_charging'" [header]="'Charging?'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'battery_power_level'" [header]="'Battery Level'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'last_sync'" [header]="'Last Sync'"></datatable-column>
  <datatable-column [actionColumn]=true [value]="" [header]="'Actions'" [options]="options"></datatable-column>
</t4ss-data-table>
