
<div>
  <p-growl [value]="msgs2" [life]="3000"></p-growl>
  <button *ngIf="master" class="btn btn-" style="margin: -5px 400px" [routerLink]="['newBusiness']">+</button>
</div>

<t4ss-data-table [dataSet]=business
                 [listener]=component
                 [enableFilter]="true"
                 [enablePagination]="true"
                 [actualPage]=actualPage
                 [totalItems]=totalItems
                 [dataPerPage]=dataPerPage>
  <datatable-column [dataColumn]=true [value]="'business_id'" [header]="'Business ID'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'business_name'" [header]="'Business Name'"></datatable-column>
  <datatable-column [dataColumn]=true [value]="'business_id_number'" [header]="'Business ID number'"></datatable-column>
  <datatable-column *ngIf="master" [actionColumn]=true [value]="" [header]="'Actions'" [options]="options"></datatable-column>
</t4ss-data-table>

<p-dialog [(visible)]="confirm" modal="modal" width="500" responsive="true" closable="true">
  <p-header style="margin-left: 168px">
    Confirm
  </p-header>
  <div class="text-center"></div>
  Are you sure you want to delete?
  <p-footer>
    <div class="modal-footer">
      <button class="btn btn-ok-modal btn-primary" type="button" (click)="deleteItem()">OK</button>
      <button class="btn btn-ok-modal btn-primary" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </p-footer>
</p-dialog>

