<div class="row">
  <div class="col-xs-12">
     <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">

           <div class="form-group">
             <label type="hidden" for="business_id"></label>
             <input
               type="hidden"
               id="business_id"
               class="form-control"
               formControlName="business_id">
           </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_name">Business Name</label>
              <input
                type="text"
                id="business_name"
                class="form-control"
                formControlName="business_name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_id_number">Business ID Number</label>
              <input
                type="text"
                id="business_id_number"
                class="form-control"
                formControlName="business_id_number">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="status_id">Status ID</label>
              <input
                type="text"
                id="status_id"
                class="form-control"
                formControlName="status_id">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_type_id">Business Type ID</label>
              <input
                type="text"
                id="business_type_id"
                class="form-control"
                formControlName="business_type_id">
            </div>
          </div>
        </div>
       <div class="row">
         <div class="col-xs-12">
           <button type="submit" style="margin-left: 300px;padding: 6px 12px" class="btn btn-" [disabled]="!businessForm.valid">Save</button>
           <a class="btn btn-" style="margin-left: 8px"  (click)="onCancel()">Cancel</a>
         </div>
       </div>
     </form>
  </div>
</div>

