
<div class="row">
  <div class="col-xs-12">
    <p-growl [value]="msgs" [life]="3000"></p-growl>
     <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">

           <div class="form-group">
             <label type="hidden" for="business_id"></label>
             <input
               type="hidden"
               id="business_id"
               class="form-control"
               formControlName="business_id">
           </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_name">Business Name</label>
              <input
                type="text"
                id="business_name"
                class="form-control"
                formControlName="business_name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_id_number">Business ID Number</label>
              <input
                type="text"
                id="business_id_number"
                class="form-control"
                formControlName="business_id_number">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="status_id">Status ID</label>
              <input
                type="text"
                id="status_id"
                class="form-control"
                formControlName="status_id">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="business_type_id">Business Type ID</label>
              <select class="form-control"
                      id="business_type_id"
                      name="business_type_id"
                      [(ngModel)]="businessTypeId"
                      formControlName="business_type_id">
                <option *ngFor="let type of listBusinessType" [value]="type">{{type}}</option>
              </select>
            </div>
          </div>
        </div>


       <div class="row">
         <div class="col-xs-12">
           <button type="submit" style="margin-left: 300px;padding: 6px 12px" class="btn btn-" [disabled]="!businessForm.valid">Save</button>
           <a class="btn btn-" style="margin-left: 8px"  (click)="onCancel()">Cancel</a> <!-- -->
         </div>
       </div>
     </form>
  </div>
</div>
<!-- <div class="row" ng-show="showPanelRelationBusiness"> -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm 12">
    <div class="content">
      <div class="box box-primary box-solid">
        <div class="box-body">
          <div class="col-md-5">
            <div class="box-no-shadow box-info">
              <div class="box-search">
                <table>
                  <tbody>
                  <tr>
                      <h3 style="width: 300px;margin: 41px 0px 10px">RelationShip Business</h3>
                    <td>
                      <button class=" btn-go btn-go-effect btn-flat hvr-bubble-float-left"
                              type="button"
                              style="margin-top: 33px"
                              (click)="businessInformation()"
                              title="Show Business">
                        <i class="fa fa-search"></i>
                      </button>
                    </td> <!-- [hidden]="!displayAlert" -->
                    <td>
                      <div [hidden]="!displayAlert" class="alert alert-danger" style="width: 300px;margin-bottom: -33px;">
                      Business Type Id is required
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--Tables business-->

        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>

<p-dialog [(visible)]="displayPopUp" modal="modal" width="500" responsive="true" closable="true">
  <p-header style="margin-left: 168px">
    Business Information
  </p-header>
  <div class="text-center"></div>
  <t4ss-data-table [dataSet]=listBusiness
                   [listener]=component
                   [enableFilter]="true"
                   [enablePagination]="true"
                   [actualPage]=actualPage
                   [totalItems]=totalItems
                   [dataPerPage]=dataPerPage>
    <datatable-column [dataColumn]=true [value]="'business_id'" [header]="'Business ID'"></datatable-column>
    <datatable-column [dataColumn]=true [value]="'business_name'" [header]="'Business Name'"></datatable-column>
    <datatable-column [dataColumn]=true [value]="'business_id_number'" [header]="'Business ID number'"></datatable-column>
    <datatable-column [actionColumn]=true [value]="" [header]="'Actions'" [options]="options"></datatable-column>
  </t4ss-data-table>
  <p-footer>
    <div class="modal-footer">
      <button class="btn btn-ok-modal btn-primary" type="button" (click)="closeBusinesInformation()">OK</button>
    </div>
  </p-footer>
</p-dialog>

<div class="row" *ngIf="openListBusiness">
  <div class="col-lg-12 col-md-12 col-sm 12">
    <div class="content">
      <div class="box box-primary box-solid">
        <div class="box-body">
          <div class="col-md-5">
            <div class="box-no-shadow box-info">
              <div class="box-search">
                <table>
                  <tbody>
                  <tr>
                    <td>
                    <h3 style="width: 254px;margin: 41px 0px 10px">RelationShip Business List</h3>
                      <t4ss-data-table [dataSet]=listBusinessRelations[0].business_relationship
                                       [listener]=component
                                       [enableFilter]="true"
                                       [enablePagination]="true"
                                       [actualPage]=actualPage
                                       [totalItems]=totalItems
                                       [dataPerPage]=dataPerPage>
                        <datatable-column [dataColumn]=true [value]="'business_id'" [header]="'Business ID'"></datatable-column>
                        <datatable-column [dataColumn]=true [value]="'business_name'" [header]="'Business Name'"></datatable-column>
                        <datatable-column [dataColumn]=true [value]="'business_id_number'" [header]="'Business ID number'"></datatable-column>
                        <datatable-column [actionColumn]=true [value]="" [header]="'Actions'" [options]="options2"></datatable-column>
                      </t4ss-data-table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!--Tables business-->

        </div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>
