<div class="signup-page">
  <div class="wrapper">
    <div class="header header-filter" style="background: linear-gradient(20deg, rgb(231, 203, 154), rgb(255, 255, 255));  background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="header header-primary text-center">
                  <h4>Log In</h4>
                  <div class="social-line">
                    Sign in to start your session
                  </div>
                </div>
                <p class="text-divider"></p>
                <div class="content">

                  <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                    <input type="text" class="form-control" placeholder="User Name...">
                  </div>

                  <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                    <input type="password" placeholder="Password..." class="form-control" />
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" checked>
                      Remember Password
                    </label>
                  </div>
                </div>
                <div class="footer text-center">
                  <!--<a href="#pablo" class="btn btn-simple btn-primary">Login</a>-->
                  <button class="btn btn-simple btn-primary"(click)="validateLogin()">Login</button>
                </div>
                <div class="footer text-center">
                  <a href="#pablo" class="btn btn-simple btn-danger btn-md">Forget Password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">

          <div class="copyright text-center">
            &copy; Copyright 2016-2017 Reaxium Development Team. All rights reserved.
          </div>
        </div>
      </footer>

    </div>

  </div>
</div>
