<t4ss-data-table [dataSet]=users
                 [listener]=component
                 [enableFilter]="true"
                 [enablePagination]="true"
                 [actualPage]=actualPage
                 [totalItems]=totalItems
                 [dataPerPage]=dataPerPage>
  <datatable-column [value]="'first_name'" [header]="'First Name'"></datatable-column>
  <datatable-column [value]="'first_last_name'" [header]="'Last Name'"></datatable-column>
  <datatable-column [value]="'document_id'" [header]="'Document ID'"></datatable-column>
</t4ss-data-table>
