.filter-input_table{
  font-weight: 300;
  width: 220px;
  background: #f5f5f5;
  transition: background 0.3s ease;
  border: 2px solid #efefef !important;
  border-radius: 3px;
}

.filter-input_table:focus{
  background: #ffffff;
  transition: background 0.3s ease;
}

.nav-tabs {
  background: transparent;
  border: 0;
  padding: 0;
}

.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 38px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
  color: #8e8e92;
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

.margin-dashboard-container{
  margin: 0 -55px;
}

.margin-tabs-container{
  margin: 0 -15px;
}
