
<div class="col-md-3 margin-dashboard-container">
  <div class="fixed-section" data-spy="affix" data-offset-top="340">
    <div class="card card-nav-tabs">
      <div class="tab-header">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#dashboard" data-toggle="tab">Home</a></li>
              <li><a href="#search" data-toggle="tab">Updates</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="tab-content margin-tabs-container">
          <div class="tab-pane active" id="dashboard">
            <ul>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-users pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
            </ul>
          </div>

          <div class="tab-pane" id="search">
            <ul>
              <li>
                <div>
                  <div class="left-inner-addon">
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control filter-input_table" placeholder="Seach School"/>
                  </div>
                </div>
              </li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
              <li><i class="fa fa-university pull-left pw-10 color-icon-dash" aria-hidden="true"></i><span><a
                href="#buttons-row" class="border-separator">Button</a></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
