.form-control, .form-group .form-control {
  display: inline-block;
  border: 2px solid #efefef !important;
  padding-bottom: 7px;
  margin-top: 0;
  width: 220px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 300;
}

.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 38px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
  color: #8e8e92;
}

.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
